In [1]:
import pandas as pd
from sklearn.tree import DecisionTreeClassifier
from sklearn.model_selection import train_test_split
from sklearn import metrics
import matplotlib.pyplot as plt
import warnings
warnings.filterwarnings("ignore")

In [2]:
pima= pd.read_csv("diabetes.csv", header=1)
pima.head()

   6  148  72  35    0  33.6  0.627  50  1
0  1   85  66  29    0  26.6  0.351  31  0
1  8  183  64   0    0  23.3  0.672  32  1
2  1   89  66  23   94  28.1  0.167  21  0
3  0  137  40  35  168  43.1  2.288  33  1
4  5  116  74   0    0  25.6  0.201  30  0

In [5]:
df= pima.iloc[1:,:]
df

      6  148  72  35    0  33.6  0.627  50  1
1     8  183  64   0    0  23.3  0.672  32  1
2     1   89  66  23   94  28.1  0.167  21  0
3     0  137  40  35  168  43.1  2.288  33  1
4     5  116  74   0    0  25.6  0.201  30  0
5     3   78  50  32   88  31.0  0.248  26  1
..   ..  ...  ..  ..  ...   ...    ...  .. ..
762  10  101  76  48  180  32.9  0.171  63  0
763   2  122  70  27    0  36.8  0.340  27  0
764   5  121  72  23  112  26.2  0.245  30  0
765   1  126  60   0    0  30.1  0.349  47  1
766   1   93  70  31    0  30.4  0.315  23  0

[766 rows x 9 columns]

In [11]:
col_names = ["pregnant","glucose","bp","skin","insulin","bmi","pedigree","age","label"]
pima= pd.read_csv("diabetes.csv",header=1, names= col_names)
pima.head()

   pregnant  glucose  bp  skin  insulin   bmi  pedigree  age  label
0         1       85  66    29        0  26.6     0.351   31      0
1         8      183  64     0        0  23.3     0.672   32      1
2         1       89  66    23       94  28.1     0.167   21      0
3         0      137  40    35      168  43.1     2.288   33      1
4         5      116  74     0        0  25.6     0.201   30      0

In [13]:
feature_cols = ["pregnant","glucose","bp","insulin","bmi","pedigree","age"]
X= df[feature_cols]
y=df.label

KeyError: "None of [Index(['pregnant', 'glucose', 'bp', 'insulin', 'bmi', 'pedigree', 'age'], dtype='object')] are in the [columns]"

In [ ]:
print(df.columns.tolist())

**Bosques Aleatorios (Random Forest)**

In [11]:
from sklearn.ensemble import RandomForestClassifier
##Crear los grupos de entrenamiento y prueba
X_train,X_test,y_train,y_test = train_test_split(X,y,test_size= 0.2,random_state=1)

NameError: name 'X' is not defined

In [13]:
rf= RandomForestClassifier(n_estimators=100, random_state=1)
rf.fit(X_train, y_train)

NameError: name 'X_train' is not defined

In [ ]:
##Score F1 para el grupo de entrenamiento
rf.score(X_train,y_train)

In [ ]:
##Score F1 para el grupo de testing
rf.score(X_test,y_test)

In [ ]:
from sklearn.metrics import classification_report

y_pred = rf.predict(X_test)
print(classification_report(y_test,y_pred))

In [16]:
import matplotlib.pyplot as plt
import numpy as np

def plot_feature_importance(df, model):
    features = df.columns
    importances = model.feature_importances_
    
    # Sort features by importance
    indices = np.argsort(importances)
    
    plt.figure(figsize=(10, 6))
    plt.barh(range(len(features)), importances[indices], align="center")
    plt.yticks(range(len(features)), features[indices])
    plt.xlabel("Importancia de las variables")
    plt.ylabel("CaracterÃ­sticas")
    plt.title("Importancia de caracterÃ­sticas - Random Forest")
    plt.show()

# Uso:
# plot_feature_importance(df, rf)

In [20]:
plot_feature_importance(df, rf)

NameError: name 'rf' is not defined